@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo-react {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}


.loading-txt {
    color: #213547;
    text-align: center;
    font-weight: 600;
}